conf/setup.conf
/leon
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/database
/lib
version

/cvc4.exe
/z3.exe
/libz3.*
/scalaz3.*