html {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, Sans-serif;
    margin: 0px;
    padding: 0px;
    background: #EFEFEF;
    height: 100%;
}

body.presentation #codebox.ace_editor {
    font-size: 18px;
}

body #codebox.ace_editor {
    font-size: 16px;
}

body#leon {
    background-color: #FFF;
}

.panel > h3, #title {
    background: #19214F !important;
}

#overview {
  position: relative;
}

#invariant {
  position: relative;
}

#overview h3, #invariant h3 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: none !important;
}

#overview .progress-bar, #invariant .progress-bar {
  background-color: #19214F;
}

#overview .progress, #invariant .progress {
  height: 28px;
  margin: 0px;
  border-radius: 0px;
  background: #4A548C;
}

#overview .compilation-status, #invariant .compilation-status {
  position: absolute;
  top: 0px;
  right: 0px;
}

div#title {
    padding: 3px;
    overflow: hidden;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(fonts/KaushanScript-Regular.woff) format('woff');
}

#leon h1 {
    font-family: 'Kaushan Script', cursive;
    padding: 0px;
    margin: 3px 0px 0px 8px;
    font-size: 1.7em;
    color: white;
    display: inline;
    float: left;
}

#leon h2 {
    margin-top: 20px;
    margin-bottom: 0px;
}

#leon h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

p, li {
    text-align: justify;
}

a {
    color: #1133CC;
}

#leon .container-fluid {
  padding-left: 0px;
}

div#permalink-value {
    position: absolute;
    top: 25px;
    padding: 3px;
    z-index: 1000;
    background: #999;
    border: 1px solid #333;
    border-radius: 5px;
    display: none;
}

div#permalink-value input {
    border: 1px solid #333;
    width: 300px;
    margin-bottom: 0px;
    float: left;
}
div#permalink-value span {
    margin-top: 3px;
}

a#button-permalink-close {
    margin-top: 5px;
}

div.toolbox a:link, div.toolbox a:visited, div.toolbox a:hover {
    text-decoration: none;
}

div.toolbox a:hover span {
    text-decoration: underline;
}

div.toolbox {
    white-space: nowrap;
    margin: 5px 0px 0px 30px;
    float: left;
    font-size: 1em;
}

div#title div.toolbox a {
    float: left;
    color: white;
    padding: 0px 3px 1px 6px;
}

div#title div.toolbox a.disabled {
    color: #666;
}

div.panel {
    margin: 10px 0px 10px 0px;
    color: black;
    border: 1px solid #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.panel > h3 {
    margin: 0px;
    line-height: 1.3em;
    padding: 5px 5px;
    font-size: 1em;
    font-weight: normal;
    color: white;
}

.panel-element-full {
    margin: 10px !important;
    padding: 3px !important;
    width: 95% !important;
    font-size: 14px !important;
}

div.compilation-status {
    color: white;
    padding: 3px 15px 0px 0px;
}

div.compilation-status.failure {
    color: red;
}

select#example-loader span.examples-group {
  text-transform: capitalize;
}

#release {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #ddd;
    margin: 0px 20px 5px 0px;
}

ul#annotations {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul#annotations li {
  border-top: 1px solid #666;
}

ul#annotations li code {
  white-space: pre;
  background: white;
}

ul#annotations li.error code {
  color: #c7254e;
}

ul#annotations li.warning code {
  color: #cfbd3c;
}

/* Panels */
div#console-panel, div#params-panel {
    display: none;
}

div.panels {
  padding-bottom: 20px;
}

div#panelscolumn {
  overflow-y: auto;
}

div #console {
    font-family: "Lucida Console", monospace;
    font-size: 12px;
    height: 250px;
    padding: 5px;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

div.panel .table {
  margin-bottom: 0px;
}

#overview_table td.status {
  width: 20px;
  text-align: center;
}

#params-panel ul {
    margin: 0px;
    padding-left: 30px;
}

#overview_table td.status.verif i,
#overview_table td.status.termin i,
#overview_table td.status.invart i {
    cursor: pointer;
}

div.results_table {
    position: relative;
}

div.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#disconnectError {
  display: none;
}

#connectError {
  display: none;
}

div#codebox.compilation-error div.ace_gutter {
    background-color: rgba(255, 0, 0, 0.3) !important;
}
div#codebox.compilation-error div.ace_gutter-active-line {
    background: #E75555;
}

/* modals */

#synthesisProgress,
#verifyProgress,
#terminationProgress,
#repairProgress {
    height: 30px;
}

#synthesisProgress .progress-bar,
#verifyProgress .progress-bar,
#terminationProgress .progress-bar,
#repairProgress .progress-bar {
    text-align: center;
    padding-top: 4px;
    text-shadow: 1px 1px 0 #000;
    font-size: 1.2em;
}

/* Verification */

tr.counter-example div.output {
    text-align: center;
    margin: 5px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

tr.counter-example table.input {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

tr.counter-example table.input td {
    padding: 4px 1px;
    vertical-align: middle;
}
/*
tr.counter-example table.input td:first-child {
    text-align: right;
}
*/

/* Synthesis */

table#synthesis_table {
    overflow: auto;
}

table#synthesis_table div.dropdown a[role="button"] {
    color: black;
}
table#synthesis_table td.subproblem {
    padding-left: 10px;
}

#synthesisDialog pre.problem {
  padding: 5px;
}

/* Disambiguation */

pre.disambiguationAlternative {
    display: inline-block;
	cursor:pointer;
	color: blue;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	margin: 0;
    padding: 0;
    border: none;
}
pre.disambiguationAlternative.editing {
	cursor: text;
}
pre.disambiguationAlternative + i.fa-pencil-square-o {
	vertical-align: text-top;
	cursor: pointer;
	margin-left: 0.3em;
}
pre.disambiguationAlternative + i.fa-pencil-square-o:hover {
	color: blue;
}
i.fa-pencil-square-o + i.fa-check {
	vertical-align: text-top;
	cursor: pointer;
	margin-left: 0.3em;
}
i.fa-pencil-square-o + i.fa-check:hover {
	color: blue;
}
pre.disambiguationAlternative:hover {
	text-decoration:none;
	background-color:rgba(128,128,128,0.2);
}
pre.disambiguationAlternative.current {
	color: #5cb85c;
}
.save-expr-display {
}
.cancel-expr-display {
}
.mini-menu {
	cursor: pointer;
	margin-left: 0.15em;
	margin-right: 0.15em;
}
.mini-menu:hover {
	color: blue;
}
.mini-menu.checked {
	text-decoration: underline;
	color: green;
}

/* Execution */

.ace_marker-layer .leon-explore-location {
    background: rgba(0, 255, 0, 0.1);
    position: absolute;
    z-index: 2;
}

div#codebox .tooltip-inner {
    max-width: 600px;
    padding: 1px 3px;
}

body.presentation div#codebox .tooltip-inner {
    font-size: 1.5em;
}

div#codebox .tooltip {
    position: fixed;
}
div#codebox .tooltip.in{
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/* Demo */

div.demo div.demo-nav {
    margin-top: 5px;
    text-align: right;
}

body div.popover {
    z-index: 2000;
}

span.demo-progress {
    float: right;
    color: #CCC;
}
span.demo-progress i {
    font-size: 0.9em;
}
.progress .bar.bar-init {
    background-color: #ccc;
}

/* Exploration */

pre.exploreBlock select.knob {
  border: 1px solid #ccc;
  background: #fff;
  padding: 3px;
  min-width: 300px;
}
pre.exploreBlock.prettyprint {
  margin: 0px;
  padding: 4px;
  border: 0px;
  border-left: 3px solid #336699;
  background: white;
  background:rgba(0,0,0,0.05);
}

pre.exploreBlock {
  display: block;
  max-width: 100%;
  border: 0px;
}
pre.exploreBlock .header {
  white-space: normal;
  display: block;
  font-style: italic;
}

pre.exploreBlock .header .name span {
  color: #666 !important
}

/* Nice modal */
.nice-modal .modal-header {
  background-color: #f5f5f5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.nice-modal .modal-body {
  /* background-color: #fafafa; */
  background-color: #fff;
  padding: 15px;
}

.nice-modal .modal-footer {
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Load Repository Panel */
#load-repo-panel {
  display: none;
}

ul.repository-list {
  list-style: none;
  max-height: 400px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

ul.repository-list.disabled {
  pointer-events: none;
}

ul.repository-list li {
  display: block;
  margin-bottom: 5px;
  margin: 0;
}

ul.repository-list a, ul.repository-list a:hover {
  color: #4078c0;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 10px 15px 10px 15px;
  border-top: 1px solid #e5e5e5;
}

ul.repository-list .private a {
  background-color: #fff9ea;
}

ul.repository-list .selected a {
  background-color: #eaeef8;
}

.octicon {
  margin-right: 8px;
}

.repository-list .octicon {
  color: #333 !important;
}

ul.repository-list .private .octicon {
  color: #a1882b !important;
}

/* Loading spinner */
.spinner {
  margin: 50px auto 20px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Clone progress text */
.clone-progress {
  margin-right: 1em;
  color: #333;
  font-style: italic;
}

/*
div.results_table > table {
    width: 100%;
    border-collapse: collapse;
}

div.results_table > table th, div.results_table > table td{
    text-align: left;
    padding: 5px;
}

div.results_table > table tr:nth-child(odd) {
    background: #ddd;
}

table#overview_table td.time {
    width: 20px;
    text-align: right
}

table#overview_table td.status {
    width: 20px;
    text-align: right
}

table#overview_table td.status.termin i {
    cursor: help;
}
table#overview_table td.status i {
    font-size: 1.2em;
}

table#overview_table td.status i.fa-check {
    color: green;
}

table#overview_table td.status i.fa-warning {
    color: red;
}

table#overview_table td.status i.fa-question {
    color: #666;
}

table#overview_table td.status i.fa-bolt {
    color: red;
}
table#overview_table td.status i.fa-clock-o {
    color: green;
}


table#synthesis_table td {
    overflow: visible;
}
.widget_content {
    *position: relative;
}



a#button-compilation {
    margin-left: 20px;
}
a#button-compilation span.label {
    float: left;
}

.smallnote {
    font-size: 10px;
}

#leon .container-fluid {
    padding: 0px;
}

div#actionscolumn {
    padding-right: 20px;
    overflow-y: auto;
}

#leon [class^="icon-"], #leon [class*=" icon-"] {
    background-image: none;
}


img {
    border-style: none;
    border-width: 0px;
    margin: 0px;
}

hr {
    border: none 0;
    border-top: 1px dashed #000;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 10px;
}

form#leoninput {
    margin: 0px;
}

ul {
    list-style-type: square;
}

td.date {
    text-align:right;
}

div#codebox {
    border-style: none;
    width: 100%;
    height: 100%;
    position: relative;
}

div#codebox div.ace_gutter {
}

div #synthesis {
    display: none;
}


div#problems.jstree {
    background: none;
}

div#problems.jstree-default .jstree-clicked {
    background: none;
    border: 0px;
}

div#problems.jstree-default .jstree-hovered {
    background: none;
    border: 0px;
}

div#problems.jstree-default li[rel="failure"] a {
    color: #B55353;
    font-style: italic;
    text-decoration: line-through;
}

div#problems.jstree-default li[rel="success"] a {
    color: #5BB553;
    font-weight: bold;
}


span.ace_identifier.ace_choose {
    color: #5BB553;
    text-decoration: underline;
}

#searchDialog, #verifyDialog, #errorDialog {
    display: none;
    font-size: 14px;
}

#searchDialog span.ui-icon {
    float: left;
    margin-right: 3px;
}

#verifyDialog span.ui-icon {
    float: right;
    margin-left: 3px;
}

#searchDialog p, #verifyDialog p {
    clear: both;
}

#errorDialog p {
    color: red;
}

#synthesisProgress, #verifyProgress {
    height: 30px;
}

#synthesisProgress .bar, #verifyProgress .bar {
    text-align: center;
    padding-top: 4px;
    text-shadow: 1px 1px 0 #000;
    font-size: 1.2em;
}

#synthesisProgress .progress-label, #verifyProgress .progress-label {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    text-shadow: 1px 1px 0 #fff;
}

.ace_gutter-cell.ace_info.leon_gutter_synthesis {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAg0lEQVR42mNgGLZAHog3AvE0IJ4LxP+BmIcUAw4D8TsgZobyDwGxKCkGfAXiv0CsDeWHALE4KQasgjr7IxCnADEjqWHAAcTzoIaA8DZSw4APamsEEL+EGrKGVC/AgDI0PN6TYsA3IFaCslmA+AMQbyHFAJCTXwBxKxDPBuLlpEbjSAIArsgavhzDbnYAAAAASUVORK5CYII=");
}

.ace_gutter-cell.ace_info.leon_gutter_verification {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaklEQVR42mNgGAXYgCQQ1wDxJygbBmYA8X5iDRED4v9AHIQkpgnEF0hxyR0gLkfiRwFxLikGHAXiSVA2MxDPBmJWUgzYAMRroewiIFYiNTBBNp4AYk8gdiAnNtqhMRFPbnSCNEaOpmrCAACDBA/ZplH5UgAAAABJRU5ErkJggg==");
}

#verifyResults  {
    margin: 20px 0px 0px 0px;
}

#verifyResults table.allResults {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#verifyResults table.allResults > thead > tr > th{
    font-size: 14px;
    padding: 10px 8px;
    font-weight: normal;
    color: #039;
    border-bottom: 1px solid #039;
}

#verifyResults table.allResults > tbody > tr > td {
    padding: 8px;
}

#verifyResults table.allResults > tbody > tr.odd {
    background: #e8edff;
}

#verifyResults table.allResults > tbody > tr > td:last-child, #verifyResults table.allResults thead > tr > th:last-child {
    text-align: right;
}

tr.empty > td > div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    text-align: left;

    background: #eee;
    color: #999;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}


td.fname {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}


span.compilation-error {
    color: red;
    font-weight: bold;
}


div#codebox .ace_gutter-tooltip {
}

*/

