@(exGroups: List[(String, List[leon.web.models.Example])], default: leon.web.models.Example, prefix: String, url: String)(implicit request: RequestHeader)

@main("Leon Online", prefix, url) {
  <div id="allcontent">
    <div id="title" class="std-background">
    <h1>Leon</h1>
      <div class="toolbox">
        <a id="button-save" href="#"><span><i class="icon-save"></i> Save</span></a>
        <a id="button-undo" href="#"><span><i class="icon-undo"></i> Undo</span></a>
        <a id="button-redo" href="#"><span><i class="icon-repeat"></i> Redo</span></a>
        <a id="button-permalink" href="#"><span><i class="icon-link"></i> Link</span></a>
        <div id="permalink-value">
            <input type="text" value="" />
            <a id="button-permalink-close" href="#"><i class="icon-remove"></i></a>
        </div>
        <a id="button-menu" href="#"><span><i class="icon-list-alt"></i> Menu</span></a>
        <a id="button-console" href="#" class="disabled"><span><i class="icon-comments-alt"></i> Console</span></a>
      </div>
    </div>
    <script>
        var _leon_websocket_url = "@leon.web.controllers.routes.Application.openConsole().webSocketURL()";
    </script>

    <div class="container-fluid">
          <div class="row-fluid">
                <div id="codecolumn" class="span8">
                  <form id="leoninput" method="POST" action="">
                    <div id="codebox">@default.code</div>
                  </form>
                </div>
                <div id="actionscolumn" class="span4">
                  <div id="selectcolumn" class="action">
                    <h3 class="std-background"><i class="icon-upload"></i> Load an Program:</h3>
                    <select id="example-loader" name="codeexample" prefix="@prefix">
                      <option value="">-- Select a Program --</option>
                      @exGroups.collect{ case (group, es) =>
                        <option value="" disabled="disabled">@group</option>
                        @es.zipWithIndex.collect { case (ex, i) =>
                          <option group="@group" id="@i">&nbsp;&nbsp;@ex.title</option>
                        }
                      }
                    </select>

                  </div>

                  <div id="overview" class="action">
                    <h3 class="std-background"><i class="icon-search"></i> Analysis Results</h3>
                    <table id="overview_table" class="results_table">
                    </table>
                  </div>
                  <div id="synthesis" class="action">
                    <h3 class="std-background"><i class="icon-magic"></i> Synthesis</h3>
                    <table id="synthesis_table" class="results_table">
                    </table>
                  </div>
                  <div class="action" id="console-action">
                      <h3 class="std-background"><i class="icon-comments-alt"></i> Console:</h3>
                      <div id="console"></div>
                  </div>

                  <div id="notifications">
                  </div>

                  <div id="connectError" class="error alert alert-error fade hide in">
                      <a class="close" data-dismiss="alert" href="#">&times;</a>
                      <h4>Failed to connect</h4>
                      <p>Leon failed to contact the mothership :(</p>
                      <p>Please try again later.</p>
                  </div>
                </div>
          </div>
    </div>
    <div id="synthesisDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" cid="0">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Synthesis</h3>
      </div>
      <div class="modal-body">
        <h4>Synthesis Problem:</h4>
        <pre class="problem code">
        </pre>
        <div id="synthesisProgressBox">
            <h4>Progress:</h4>
            <div id="synthesisProgress" class="progress progress-striped active"><div class="bar" style="width: 0%;"></div></div>
        </div>
        <div id="synthesisResults">
            <h4>Solution:</h4>
            <pre class="code solution">
            </pre>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary importButton" data-dismiss="modal" aria-hidden="true">Import Code</button>
        <button class="btn cancelButton" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <div id="verifyDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Verification</h3>
      </div>
      <div class="modal-body">
        <p>
            Leon verifies the validity all the verification conditions found in the selected function.
        </p>
        <div id="verifyProgress" class="progress progress-striped active"><div class="bar" style="width: 40%;"></div></div>
        <div id="verifyResults">
            <table class="allResults">
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>Kind</th>
                        <th>Result</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
}
