@(webconfig: leon.web.models.LeonWebConfig, user: Option[leon.web.models.User])(implicit request: RequestHeader)

@main("Leon Online", webconfig) {
  <div id="allcontent">
    <div id="title" class="std-background">
    <h1>Leon</h1>
      <div class="toolbox">
        <a id="button-save" href="#"><i class="fa fa-save"></i> <span>Save</span></a>
        <a id="button-undo" href="#"><i class="fa fa-undo"></i> <span>Undo</span></a>
        <a id="button-redo" href="#"><i class="fa fa-repeat"></i> <span>Redo</span></a>
        <a id="button-permalink" href="#"><i class="fa fa-link"></i> <span>Link</span></a>
        <div id="permalink-value">
            <input type="text" value="" />
            <a id="button-permalink-close" href="#"><i class="fa fa-ban"></i></a>
        </div>
        <a id="button-console" class="disabled menu-button" ref="console-panel" href="#"><i class="fa fa-list-alt"></i> <span>Console</span></a>
        <a id="button-params" class="disabled menu-button" ref="params-panel" href="#"><i class="fa fa-cog"></i> <span>Params</span></a>
        <a id="button-about" href="http://lara.epfl.ch/w/leon" target="_blank"><i class="fa fa-info"></i> <span>About</span></a>
        <a id="button-doc" href="/doc/" target="_blank"><i class="fa fa-graduation-cap"></i> <span>Documentation</span></a>
        @tags.login(user)
      </div>
    </div>
    <script>
        var _leon_websocket_url = "@leon.web.controllers.routes.Interface.openConsole().webSocketURL(webconfig.isSSL)";
    </script>

    <div class="container-fluid">
      <div class="row">
        <div id="codecolumn" class="col-lg-9 col-sm-9 col-xs-12">
          <form id="leoninput" method="POST" action="">
            <div id="codebox" style="display:none">@webconfig.default.code</div>
          </form>
          <ul id="annotations"></ul>
        </div>
        <div id="panelscolumn" class="col-lg-3 col-sm-3 col-xs-12">
          <div class="panels">
            @for(msg <- request.flash.get("error")) {
              <div class="alert alert-dismissible panel">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error:</strong> @msg
              </div>
            }
            @if(user.isDefined) {
              <div id="load-repo-panel"></div>
            }
            <div id="selectcolumn" class="panel">
              <h3 class="std-background"><i class="icon-upload"></i> Load an example:</h3>
              <select id="example-loader" class="form-control panel-element-full" name="codeexample">
                <option value="">-- Select an example --</option>
                @webconfig.examples.collect{ case (group, es) =>
                <option value="" disabled="disabled">@{group(0).toUpper+group.tail.mkString}</option>
                  @es.zipWithIndex.collect { case (ex, i) =>
                    <option group="@group" id="@i">&nbsp;&nbsp;@ex.title</option>
                  }
                }
              </select>

            </div>

            <div id="overview" class="panel">
              <div class="compilation-status"></div>
              <h3>Analysis</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
              </div>
              <div class="results_table">
                  <table id="overview_table" class="table table-hover table-condensed">
                  </table>
              </div>
            </div>

            <div id="synthesis" class="panel">
              <h3><i class="icon-magic"></i> Synthesis</h3>
              <div class="results_table">
                  <table id="synthesis_table" class="table table-hover table-condensed">
                  </table>
              </div>
            </div>

            <div class="panel" id="console-panel">
                <h3><i class="icon-comments-alt"></i> Console:</h3>
                <div id="console"></div>
            </div>

            <div class="panel" id="params-panel">
                <h3 class="std-background"><i class="icon-wrench"></i> Features:</h3>
                <ul>
                </ul>
            </div>

            <div id="disconnectError" class="error alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>Failed to connect</h4>
                <p>The Leon server appears to be unreachable right now.</p>
                <p id="disconnectMsg"></p>
                <p></p>
            </div>

            <div id="connectError" class="error alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>Failed to connect</h4>
                <p>Leon failed to contact the mothership :(</p>
                <p>It usually indicates that your firewall blocks traffic on websocket ports.</p>
            </div>

            <div id="notifications"> </div>
          </div>
        </div>
      </div>
    </div>
    <div id="invariantDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" cid="0" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Invariants</h3>
          </div>
          <div class="modal-body">
            <p>
                Leon generates invariants based on the provided templates for the selected function.
            </p>
            <div id="invariantProgress" class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
	          <div id="invariantResults">
	               <table class="allResults table table-hover">
	                   <thead>
	                       <tr>
	                           <th>Function</th>
	                           <th>Template</th>
	                           <th>Solution</th>
	                           <th>Status</th>
	                           <th>Time</th>
	                       </tr>
	                   </thead>
	                   <tbody>
	                   </tbody>
	               </table>
	          </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary importAllButton" data-dismiss="modal" aria-hidden="true">Import all invariants</button>
            <button class="btn btn-primary importButton" data-dismiss="modal" aria-hidden="true">Import this invariant</button>
            <button class="btn cancelButton" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div id="synthesisDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" cid="0" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Synthesis</h3>
          </div>
          <div class="modal-body">
            <h4>Synthesis Problem:</h4>
            <pre class="problem code prettyprint lang-scala">
            </pre>
            <div id="synthesisProgressBox">
                <h4>Progress:</h4>
                <div id="synthesisProgress" class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
            </div>
            <div id="synthesisResults">
                <h4>Solution:</h4>
                <pre class="code solution prettyprint lang-scala">
                </pre>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary exploreButton" aria-hidden="true">Explore</button>
            <button class="btn btn-primary importButton" data-dismiss="modal" aria-hidden="true">Import Code</button>
            <button class="btn cancelButton" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn closeButton" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="synthesisExploreDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" cid="0" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Synthesis</h3>
          </div>
          <div class="modal-body">
            <div id="synthesisTree">
                <h4>Exploration:</h4>
                <div class="solution">
                  <pre class="exploreBlock" path="">
                  </pre>
                </div>
                </pre>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary importButton" data-dismiss="modal">Import Code</button>
            <button class="btn closeButton" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="repairDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Repair</h3>
          </div>
          <div class="modal-body">
            <div id="repairProgressBox">
                <div id="repairProgress" class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
            </div>
            <div id="repairFocused">
              <h4>Localized Error:</h4>
              <pre class="focused code prettyprint lang-scala">
              </pre>
            </div>
            <div id="repairResults">
                <h4>Solution:</h4>
                <pre class="code solution prettyprint lang-scala">
                </pre>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary importButton" data-dismiss="modal" aria-hidden="true">Import Code</button>
            <button class="btn cancelButton" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn closeButton" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="verifyDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Verification</h3>
          </div>
          <div class="modal-body">
            <p>
                Leon verifies the validity of all the verification conditions found in the selected function.
            </p>
            <div id="verifyProgress" class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div id="verifyResults">
                <table class="allResults table table-hover">
                    <thead>
                        <tr>
                            <th>Function</th>
                            <th>Kind</th>
                            <th>Result</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary repairButton" aria-hidden="true">Repair</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="terminationDialog" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Termination Checker</h3>
          </div>
          <div class="modal-body">
            <p>
                Leon checks if the selected function terminates for all inputs.
            </p>
            <div id="terminationProgress" class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div id="terminationResults">
                <table class="allResults table table-hover">
                </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="login-modal"><!-- This modal is handled by React --></div>
  <div id="release">@webconfig.release &copy; EPFL, Lausanne 2009-2015 </div>
}
